# Ignore all source layers (each has its own git repo)
sources/poky/
sources/meta-openembedded/
sources/meta-raspberrypi/
sources/meta-userapp-package/

# Ignore build artifacts, track only conf
build/tmp/
build/sstate-cache/
build/downloads/
build/cache/
build/bitbake-cookerdaemon.log

# build/conf/ is tracked
